- page_title _("Self-Hosted models")
- terms_link_start = '<a href="https://about.gitlab.com/handbook/legal/testing-agreement/" target="_blank" rel="noopener noreferrer">'.html_safe

%h4
  = s_('AdminSelfHostedModels|Self-Hosted models')

%p.gl-text-secondary
  = s_('AdminSelfHostedModels|Self-hosted models are an experimental feature.')
  = link_to _('Learn more.'), help_page_path('administration/self_hosted_models/install_infrastructure')

= render Pajamas::ButtonComponent.new(variant: :confirm, href: admin_ai_terms_and_conditions_url, method: :post) do
  = s_('AdminSelfHostedModels|Enable Self-hosted models')

%p.gl-text-secondary.gl-mt-4
  = s_('AdminSelfHostedModels|By enabling Self-Hosted Models, you accept the %{link_start}GitLab Testing Agreement%{link_end}.').html_safe % { link_start: terms_link_start, link_end: '</a>'.html_safe }
